<div class="comment_clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.name %></strong>
    </p>
    <p class="comment_body"><%= comment.body %>

    </p>
    <small class="comment_title">
      <%= time_ago_in_words(comment.created_at) %> ago
    </small>
  </div>
  <% if user_signed_in? %>
  <p>
    <%= link_to 'Delete' , [comment.post, comment], method: :delete, class: "button", data: {confirm: "are you sure ?"} %>
  </p>
    <% end %>
</div>