<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>
      It's Bac Si Hai Picture
    </h1>
    <p>
      Create an online video course, reach students across the globe, and earn money.
    </p>
  </div>



</div>