<%= form_for @post do |f|%>
  <% if @post.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> stopped this post from Saving
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li style="color: red"><%= msg %></li>
        <%end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title%><br>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :body%><br>
    <%= f.text_area :body%>
  </p>

  <p>
    <%= f.submit%>
  </p>

<% end%>