<%= @posts.each do |post| %>
<div class="post_wrapper">
  <div class="title">
    <h2>
      <%= link_to post.title, post %>
    </h2>
  </div>
  <p class="body">
    <%= truncate(post.body, length:100) %>
  </p>
    <p class="date">
      <%= time_ago_in_words(post.created_at) %> ago
    </p>
  <small>
    <%= post.comments.count %> Comments

  </small>

</div>

<% end %>