<div id="page_wrapper">
<h1 class="title">
  <%= @post.title %>
</h1>
  <hr>
<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago

  <% if user_signed_in? %>
  <button>
    <%= link_to 'EDIT' , edit_post_path %>
  </button>
  <button>
    <%= link_to 'DELETE', post_path(@post), method: :delete, data: {confirm: "Are you sure to delete #{@post.title} ?"}%>
  </button>
    <% end %>
</p>
  <hr>
<p class="body">
  <%= @post.body %>
</p>
  <hr>
  <div id="comments">
    <h2>
      <%= @post.comments.count %> Comments

    </h2>
    <%= render @post.comments %>
    <h3>Join Discussion:</h3>
    <%= render "comments/form" %>
  </div>
</div>