<!DOCTYPE html>
<html>
<head>
  <title>SocialNetwork</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
<div id="sidebar">
  <ul>
    <li class="category">
      <%= link_to "Tumblr", root_path %>
    </li>
    <li>
      <%= link_to "Posts", root_path %>
    </li>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <% if !user_signed_in? %>

    <li>
      <p class="sign_in">
        <%= link_to "User Login" , new_user_session_path %>
      </p>
    </li>

    <% end %>
  </ul>

</div>

<div id="main_content">
  <div id="header">

    <% if current_page?(root_path) %>
      <p>Post Feed</p>
      <% elsif current_page?(about_path) %>
      <p>About Site Information</p>
    <% else %>
      <%= link_to "Back to Post Feed", root_path %>
    <% end %>

    <% if user_signed_in? %>
    <div class="buttons">
      <button class="button">
        <%= link_to "Make Post", new_post_path %>
      </button>
      <button class="button">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </button>
    </div>
      <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
  <%= yield %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
